<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%=Title%></title>
  </head>
  <body>
    <h1>NYC Figures</h1>
    <form method="post" action="/figures">
      <p>Create a New NYC Figure:</p>
      <input type="text" name="figure[name]" id="figure_name">

      <br></br>

      <%Title.all.each do |title|%>
        <input type="checkbox" name="figure[title_ids][]" value="<%= title.id%>" id="title_<%=title.id%>"><%=title.name%>
      <%end%>

      <br></br>

      <label>and/or, create a new title:</label>

      <br></br>

        <input  type="text" name="title[name]" id="new_title">


      <%Landmark.all.each do |landmark|%>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%=landmark.id%>"><%=landmark.name%>
      <%end%>

      <br></br>

      <label>and/or, create a new landmark:</label>

      <br></br>

        <input  type="text" name="landmark[name]" id="new_landmark">

      <br></br>



      <button type="submit" value="submit">Create New Figure</button>
    </form>
